body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://media.istockphoto.com/id/808424876/photo/password-input-field-with-padlock.webp?b=1&s=170667a&w=0&k=20&c=2OKRhMbVvex54hrzioGe_eSnZnRM8OdYj8bUZ2aa5pc='); 
  background-size: cover;
  background-position: center;
  color: #fff;
}

.app {
  text-align: center;
  margin: 50px;
  padding: 20px;
  background-color: rgba(11, 10, 10, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #dbc5c5;
}

.password-options {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input {
  padding: 8px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.password-display {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 8px;
}

h2 {
  color: #333;
}

p {
  font-size: 18px;
  color: black;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
